[submodule "Libraries/DDHidLib"]
	path = Libraries/DDHidLib
	url = git@github.com:Daij-Djan/DDHidLib.git
[submodule "Libraries/play-button-itunes-patch"]
	path = Libraries/play-button-itunes-patch
	url = git@github.com:thebitguru/play-button-itunes-patch.git
[submodule "Libraries/IYLoginItem"]
	path = Libraries/IYLoginItem
	url = git@github.com:ianyh/IYLoginItem.git
[submodule "Libraries/STPrivilegedTask"]
	path = Libraries/STPrivilegedTask
	url = git@github.com:sveinbjornt/STPrivilegedTask.git
